@model Invoice.Model.Model.InvoiceModel

@{
    ViewBag.Title = "Edit";
}

<script src="~/Scripts/jquery-2.1.3.js"></script>

<h2>Edit invoice</h2>

@using (Html.BeginForm("Edit", "Invoice", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="row">
            <div class="col-md-6">
                <div class="modal fade bs-example-modal-sm" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <h4 class="modal-header">Select Product</h4>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="col-md-3">

                                        @Html.Label("Product", htmlAttributes: new { @class = "control-label " })
                                        @Html.DropDownList("Product", new SelectList(string.Empty, "Value", "Text"), "select Product", new { @class = "form-control" })

                                        <div>
                                            @Html.Label("Details", htmlAttributes: new { @class = "control-label " })
                                            @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control", id = "Description", @readonly = "readonly" } })

                                            @Html.Label("Price", htmlAttributes: new { @class = "control-label " })
                                            @Html.Editor("Price", new { htmlAttributes = new { @class = "form-control", id = "Price", @readonly = "readonly" } })
                                            <br />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        @Html.Label("Quantity", htmlAttributes: new { @class = "control-label " })
                                        @Html.Editor("Quantity", new { htmlAttributes = new { @class = "form-control", id = "Quantity" } })

                                        @Html.Label("Amount", htmlAttributes: new { @class = "control-label " })
                                        @Html.Editor("Amount", new { htmlAttributes = new { @class = "form-control", id = "Amount", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <a id="BtnAdd" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-plus"></span> Add
                                </a>
                                <a id="BtnClose" class="btn btn-danger" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-off"></span> Close
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-1">
                @Html.LabelFor(model => model.InvoiceCode, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.InvoiceCode, new { htmlAttributes = new { @class = "form-control", @id = "InvoiceCode", @placeholder = "Invoice code" } })
                    @Html.ValidationMessageFor(model => model.InvoiceCode, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.InvoiceDate, htmlAttributes: new { @class = "control-label " })
                @*<input type="text" class="mydatepicker">*@
                <div>
                    @Html.EditorFor(model => model.InvoiceDate, new { htmlAttributes = new { @class = "form-control mydatepicker", @id = "InvoiceDate", @placeholder = "Invoice Date" } })
                    @Html.ValidationMessageFor(model => model.InvoiceDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3 ">
                @Html.LabelFor(model => model.DueDate, htmlAttributes: new { @class = "control-label" })
                @*<input type="text" class="mydatepicker">*@
                <div>
                    @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control mydatepicker", @placeholder = "Due Date", @id = "DueDate" } })
                    @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-4 col-md-offset-1">
                @Html.Label("Customer", htmlAttributes: new { @class = "control-label " })
                @Html.TextBoxFor(model => model.CustomerModel.Name, new { @class = "form-control", @required = "required", @id = "CustomerId" })

                <div>
                    <p id="Preview"> </p>
                </div>
            </div>

            <div class="col-md-7 ">

            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10 col-md-offset-1">
                @*<a href="@Url.Action("Delete", "Product")" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">
                        <span class="glyphicon glyphicon-plus"></span> Add Product
                    </a>*@

                <button class="btn btn-success" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-plus"></span> Add Product</button>
                <br /> <br />

                <div id="DataTable">
                    <table class="table table-bordered table-hover ">
                        <tr class="success">
                            <th>
                                Id
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Amount
                            </th>

                        </tr>

                        @foreach (var p in Model.Products)
                        {
                        <tr>
                            <td>

                                
                                @p.Product.Id
                                <input type="hidden" name="ProductId" class="ProductId" value="@p.ProductId" />

                            </td>
                            <td>
                                @p.Product.Product
                            </td>
                            <td>
                                @p.Product.Description
                            </td>
                            <td>
                                @p.Product.UnitPrice
                            </td>
                            <td>
                                @p.Quantity
                            </td>
                            <td class="price">
                                @p.Amount
                            </td>
                        </tr>
                        }

                    </table>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5 col-md-offset-1">
                @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", rows = "6", @placeholder = "Put your invoice notes ", @id = "Notes" })
                    @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                </div>

                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.Status, ViewData["country"] as List<SelectListItem>, new { @class = "form-control", @id = "Status" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })

            </div>
            <div class="col-md-6">
                <div class="col-md-6 col-md-offset-4">
                    @Html.LabelFor(model => model.TotalAmount, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control", @id = "TotalAmount", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-4">
                    @Html.LabelFor(model => model.AmountPaid, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.AmountPaid, new { htmlAttributes = new { @class = "form-control", @placeholder = "Amount Paid", @id = "AmountPaid" } })
                        @Html.ValidationMessageFor(model => model.AmountPaid, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-4">
                    @Html.LabelFor(model => model.BalanceDue, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.BalanceDue, new { htmlAttributes = new { @class = "form-control", @id = "BalanceDue", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.BalanceDue, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
                <input type="submit" style="width: 100%" id="btnSubmit" value="Create Invoice" class="btn btn-primary" />
            </div>
        </div>
    </div>


}



<script>


    $(function () {
        //total calculation
        function calculateSum() {
            var sum = 0;
            // iterate through each td based on class and add the values
            $(".price").each(function () {

                var value = $(this).text();
                // add only if the value is number
                if (!isNaN(value) && value.length != 0) {
                    sum += parseFloat(value);
                }
            });

            $('#TotalAmount').val(sum);
            var a = $('#TotalAmount').val();
            var b = $('#AmountPaid').val();
            $('#BalanceDue').val(a - b);


        };
        $('.price').each(function () {
            calculateSum();
        });

        $('#AmountPaid').keyup(function () {
            var a = $('#TotalAmount').val();
            var b = $('#AmountPaid').val();
            $('#BalanceDue').val(a - b);
        });

        //calendar
        $(".mydatepicker").datepicker();
    });


</script>