
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home | Invoice System</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/SinglePage/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Content/SinglePage/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Content/SinglePage/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="@Url.Action("Home", "Home")">Invoice System</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("Register", "Home")">Register</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Login", "Home")">Sign In</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    
    <br/> <br/>
 

    <a name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Invoice System with a Simple Admin & Dashboard</h2>
                    <p class="lead">Invoice system with a very simple admin panel and Dashboard. So user can see summary of invoice system!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="~/Content/SinglePage/img/1.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>


    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Invoice Details</h2>
                    <p class="lead">after selling products to a customer, you can invoice details and gererate reports with PDF, Word & Excel  </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="~/Content/SinglePage/img/2.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Product Setting</h2>
                    <p class="lead">In Invoice System, you can easily setup your Customer, Product, Company and Invoice. you can access Invoice system with Mobile, fully responsive experience! </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="~/Content/SinglePage/img/3.jpg" alt="">
                </div>
            </div>

        </div>
       
    </div>
   

    <a name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Want to Customize more ? Contact with me</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/microasif" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/profile.php?id=100001465808422" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                        <li>
                            <a href="mailto:asif0531@live.com" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Email</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="@Url.Action("Home")">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="@Url.Action("Login")">Login</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="@Url.Action("Register")">Register</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Invoice System 2017. All Rights Reserved by <a href="http://kodauthor.com">Kodauthor</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="~/Content/SinglePage/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/SinglePage/js/bootstrap.min.js"></script>

</body>

</html>

