@model IEnumerable<Invoice.Model.Model.CustomerModel>

@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <h1>
        <strong> Customer</strong>

        <small>Manage Your Customer</small>
    </h1>
</section>


<br/>

<a href="@Url.Action("Create")" class="btn bg-maroon btn-flat margin"> Add New Customer </a>

<div class="panel panel-default">
    <div class="panel-heading">
        All Customer list
    </div>
<div class="panel-body">
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Web)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addess)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Web)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Addess)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Customer", new {id = item.Id})" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="@Url.Action("Delete", "Customer", new { id = item.Id })" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>

                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                </td>
            </tr>
        }

    </table>
</div>
</div>
