@model IEnumerable<Invoice.Model.Model.ProductModel>

@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <h1>
        <strong> Products</strong>

        <small>Manage Your Products</small>
    </h1>
</section>

<br />


<a href="@Url.Action("Create")" class="btn bg-maroon btn-flat margin"> Add New Product </a>

<div class="panel panel-default">
    <div class="panel-heading">
        All Product list
    </div>
<div class="panel-body">
    <table class="table table-bordered table-hover ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Product", new {id = item.Id})" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="@Url.Action("Delete", "Product", new {id = item.Id})" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                </td>
            </tr>
        }

    </table>
</div>
</div>